@model IEnumerable<IFAB.Models.Recusal>

@{
    ViewData["Title"] = "Recusal";
}

<body style="background-image: url('/pitchFromTheSky.jpg');">
    <h1 class="medium-text">Set a time of unavailability</h1>

<p class="small-text">
    <a asp-action="Create">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unavailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unavailability)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td> *@
          @*   <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecusalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecusalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecusalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>