@model IEnumerable<IFAB.Models.Match>

@{
    ViewData["Title"] = "Matches";
}
<body style="background-image: url('/pitchFromTheSky.jpg');">
    <h1 class="title-text">My matches</h1>

<p>
    <a asp-action="Create">Add new match</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th class="large-text">
                @Html.DisplayNameFor(model => model.Date)
            </th>
                <th class ="large-text">
                @Html.DisplayNameFor(model => model.Location)
            </th>
                <th class="large-text">
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
                <th class="large-text">
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Feedback.FeedbackId)
            </td> *@
                    <td>
                <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>