@model IEnumerable<IFAB.Models.MatchReport>

@{
    ViewData["Title"] = "Match Reports";
}
<style>
    body {
        padding-top:70px;
    }
    .text-background{
        background-color: rgba(95,185,131,0.5);
        padding: 20px;
        display:inline-block;
    }
    .edit-button, .details-button, .delete-button{
        padding:1px;
        text-declaration-line: none;
        border-radius: 0px;
    }
    .delete-button{
        background-color: red;
        color:white;
    }
    .details-button{
        background-color: blue;
        color: white;
    }
    .edit-button{
        background-color: green;
        color: white;
    }

</style>
<body style="background-image: url('/pitchFromTheSky.jpg');">
    <h1 class="title-text">Match Reports</h1>

<p>
    <a asp-action="Create" class="edit-button">Create New</a>
</p>
<table class="table text-background">
    <thead>
        <tr>
                <th class="large-text">
                @Html.DisplayNameFor(model => model.Match)
            </th class="large-text">
            <th class="large-text">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.DurationBtwRounds)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.HalfTimeScore)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationBtwRounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfTimeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId" class="edit-button">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId" class="details-button">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId" class="delete-button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>