@model IEnumerable<IFAB.Models.MatchReport>

@{
    ViewData["Title"] = "Match Reports";
}
<body style="background-image: url('/pitchFromTheSky.jpg');">
    <h1 class="title-text">Match Reports</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th class="large-text">
                @Html.DisplayNameFor(model => model.Match)
            </th class="large-text">
            <th class="large-text">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.DurationBtwRounds)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.HalfTimeScore)
            </th>
            <th class="large-text">
                @Html.DisplayNameFor(model => model.FinalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationBtwRounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HalfTimeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>